{% extends 'main/layout.html' %}

{% block side_bar %}{{ block.super }}{% endblock %}

{% block content %}
    <main class="client-info-form">
        <div class="client-form-container">
            <form class="container">
            <div class="row mb-3">
               <label for="nameInfo" class="col-sm-2 col-form-label">Имя:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nameInfo" value={{client.name}} disabled readonly>
                </div>
            </div>

            <div class="row mb-3">
                <label for="telInfo" class="col-sm-2 col-form-label">Номер телефона:</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" id="telInfo" value={{client.phone}} disabled readonly>
                </div>
            </div>

            <div class="row mb-3">
                <label for="subscriptionInfo" class="col-sm-2 col-form-label">Абонемент:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="subscriptionInfo" value={{subscription.number}} disabled readonly>
                </div>
            </div>
            {% if subscription.type_sub == "Минутный" %}
            <div class="row mb-3">
                <label for="minutesInfo" class="col-sm-2 col-form-label">Количество минут:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="minutesInfo" value={{subscription.minute_subscription.minutes}} disabled readonly>
                </div>
            </div>
            {% elif subscription.type_sub == "Безлимитный" %}
            <div class="row mb-3">
               <label for="periodInfo" class="col-sm-2 col-form-label">Период:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="periodInfo" value={{subscription.unlimited_subscription.period}} disabled readonly>
                </div>
            </div>
            <div class="row mb-3">
               <label for="endInfo" class="col-sm-2 col-form-label">Закончится:</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="endInfo" value={{subscription.unlimited_subscription.end_at|date:'Y-m-d'}} disabled readonly>
                </div>
            </div>
            {% endif %}

        </form>
        </div>


        <div class="add">
            <a href="{% url 'clients:create-record' client.id %}"><button class="btn btn-success">Добавить запись</button></a>
            <a href="{% url 'clients:update-client' client.id %}"><button class="btn btn-light">Редактировать профиль</button></a>
            <a href=""><button class="btn btn-info">Посмотреть все записи</button></a>
            <form method="post" action="{% url 'clients:delete-client' client.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить аккаунт?')">Удалить клиента </button>
            </form>

        </div>
    </main>

{% endblock %}
