{% extends 'main/layout.html' %}

{% block side_bar %}{{ block.super }}{% endblock %}
{% block content %}
<main class="home">
<!--    {% for client in clients %}-->
<!--    {{client.id}}-->
<!--    {{client.name}}-->
<!--    {{client.phone}}-->
<!--    <br>-->
<!--    {% endfor %}-->
    <div class="client-search-container">
        <form method="GET" class="search-form">
            <input type="text" name="query" placeholder="Поиск по телефону" value="{{ request.GET.query }}">
            <button type="submit">Найти</button>
        </form>
    </div>
    <div class="all_clients-container">
        {% for client in clients %}
        <a href="{% url 'clients:client-info' client.id %}">
            <div class="client-container" onclick="">
            <div class="client-info">
                <span class="client-name">{{ client.name }}</span>
                <span class="client-phone">{{ client.phone }}</span>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>

</main>


{% endblock %}