{% extends 'main/layout.html' %}

{% block side_bar %}{{ block.super }}{% endblock %}

{% block content %}
    <main>
        <form>
            <div class="row mb-3">
               <label for="nameInfo" class="col-sm-2 col-form-label">Имя:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nameInfo" value={{client.name}} disabled readonly>
                </div>
            </div>

            <div class="row mb-3">
                <label for="telInfo" class="col-sm-2 col-form-label">Номер телефона:</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" id="telInfo" value={{client.phone}} disabled readonly>
                </div>
            </div>

            <div class="row mb-3">
                <label for="subscriptionInfo" class="col-sm-2 col-form-label">Абонемент:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="subscriptionInfo" value={{subscription.number}} disabled readonly>
                </div>
            </div>

            <div class="row mb-3">
                <label for="minutesInfo" class="col-sm-2 col-form-label">Количество минут:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="minutesInfo" value={{subscription.minutes}} disabled readonly>
                </div>
            </div>
        </form>

        <div class="add">
            <a href=""><button class="btn btn-success">Добавить запись</button></a>
            <a href=""><button class="btn btn-light">Редактировать профиль</button></a>
            <a href=""><button class="btn btn-info">Посмотреть все записи</button></a>
        </div>
    </main>

{% endblock %}
